@model Final_ASP_04_back.Models.ViewModels.RoomManageVm

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">房型</label>
    <input type="text" class="form-control" id="recipient-roomTypeName" placeholder="Example input placeholder" value="@Model.RoomTypeName">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">可容納人數</label>
    <input type="text" class="form-control" id="recipient-guestNumberCapacity" placeholder="Example input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">房間細部規格</label>
    <input type="text" class="form-control" id="recipient-Description" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">房間定價</label>
    <input type="text" class="form-control" id="recipient-Price" placeholder="Another input placeholder">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">房間狀態</label>
    <input type="text" class="form-control" id="recipient-Status" placeholder="Another input placeholder">
</div>