<!-- 房型介紹 -->
<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="card mt-3">
        <div class="card-body">
            <img class="img-fluid productImg" src="/Files/@Model.FileName" alt="">
            <h5 class="card-title">@Model.RoomTypeName</h5>
            <p class="card-text">@Model.RoomTypeDescription</p>
            <a href="#" class="btn btn-primary">更多資訊</a>
        </div>
    </div>
</div>

