<div class="card mb-3 resultCard">
    <div class="row g-0">
        <div class="col-md-3">
            <img src="~/Files/@Model.RoomTypeFileName" class="img-fluid rounded-start resultImg" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    @Model.RoomTypeName
                    <small>@Model.GuestNumberName</small>
                </h5>
                <p class="card-text">@Model.RoomDescription</p>
                <p class="card-text">@Model.RoomTypeDescription</p>
                <p class="card-text">NT$@Model.Price</p>                
            </div>
        </div>
    </div>
</div>
